
.tooltip-error {
  position: absolute;
  background-color: #ffdddd;
  color: #d8000c;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-left: 10px;
  z-index: 100;
  border: 1px solid #d8000c;
}

.input-container {
  position: relative;
  display: inline-block;
}

.tooltip-error::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent  #ffdddd transparent;
}

.temporary-message {
  font-size: 14px;
  color: whitesmoke;
  margin-top: 15px;
}
